/*Для добавления по*/
.add-po-form-container {
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  box-sizing: border-box;
  width: 963px;
  height: 75vh;
  background-color: white;
  border-radius: 30px;
  color: black;

  position: absolute;
  left: 171px;
  top: 10px;
}


.add-po-textarea {
  box-sizing: border-box;
  width: 100% !important;      /* принудительная ширина */
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;            /* разрешить растягивание */
  height: 107px;
}


.add-po-form-scroll-bar::-webkit-scrollbar {
  width: 10px; 
}

.add-po-form-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}

.add-po-form-scroll-bar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* ← Цвет фона дорожки */
  border-radius: 10px;
}



.add-po-form-scroll-bar {
  /* max-height: 40vh; */
  flex: 1;                 /* занять всё свободное место */
  min-height: 0;  
  display: flex;           /* добавить */
  flex-direction: column;          /* разрешить сжатие для корректной работы flex */
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 1px 10px 0 1px;
}

.add-po-form {
  flex-grow: 1;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  
}


.add-po-title {
  margin-top: -35px; 
  margin-bottom: 15px; 
  font-size: bold;
  font-size: 30px;
}

.add-po-field {
  margin-bottom: 0;
  width: 100%;
}

.add-po-label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold;
}

.add-po-input {
  width: 97.28%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-po-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* appearance: none; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"); */
}


.add-po-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  
}



@media (max-width:767px) {
  .add-po-form-container {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 30px;
  color: black;
  position: absolute;
  left: 0vw;
  top: 4vh;
}


.add-po-title {
  margin-top: -40px; 
  margin-bottom: 15px; 
  font-size: bold;
  font-size: 20px;
  justify-content:center;
}

.add-po-form {
  flex-grow: 1;
  display: flex; 
  flex-direction: column;
}

.add-po-field {
  margin-bottom: 0;
}

.add-po-label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold;
}

.add-po-input {
  width: 97.28%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.add-po-textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;

  height: 107px;
}

.add-po-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}
}


@media (min-width: 1200px) and (max-width: 1600px) {
  .add-po-form-container {
     position: static;
    left: 0px;
    margin-top: 2vh;
    height: 72vh;
    width:80%;
  }
  .add-po-title {
    font-size: 18px;
  }

  .add-po-select {
    font-size: 12px;
  }
  .add-po-input {
    font-size: 12px;
  }

} 

.archive {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.actual {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.critical {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.checkbox {
  width: 50px;

}