
.tractor-table-container {
  display: inline-block;
  align-items: stretch;
  background: #ffffff;
  border-radius: 10px 5px 10px 5px;
  padding: 0;
  width: auto ;
  /* max-height: 80vh; */
  /* width:100%; */
  box-sizing: border-box;
  margin:90px;
  max-width: 90%;
  max-height: 65vh;
}

/* скролл для тела таблицы */
.scroll-bar {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
  max-width: 100%;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#bebebe;
}

.scroll-bar::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.tractor-table {
  height: auto;
  border-collapse: collapse;
  background: white;
  table-layout: auto;
  
}

.tractor-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.tractor-table thead th {
  background: #d7dadc;
  color: #080808;
  padding: 12px 8px;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #454343;
  border-right: 1px solid #454343;
  min-width: 80px;
  white-space: nowrap; 
  max-width:200px;
  font-size: 18px;
}

.tractor-table thead th:last-child { 
  border-right: none; 
}

.tractor-table td {
  padding: 12px 8px;
  border-bottom: 1px solid #454343;
  color: #2c3e50;
  font-size: 14px;
  border-right: 1px solid #454343;
  min-width: 80px;
  max-width:200px;
  /* word-wrap: break-word; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative; /* Добавьте это */
}

.tractor-table td:last-child { 
  border-right: none; 
}

.tractor-table tr:last-child td { 
  border-bottom: none; 
}

.loading {
  background: transparent;
  color: #03070b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.tractor-cell {
  cursor: help;
  position: relative;
}

/* Опционально: красивый тултип вместо стандартного */
.tractor-cell:hover::after {
  content: attr(title);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: normal;
  z-index: 1000;
  max-width: 300px;
  font-size: 13px;
  margin-bottom: 5px;
}


@media (min-width: 1200px) and (max-width: 1600px) {
  .tractor-table-container {
    position: relative;
    max-width: 100vh;
    /* height: auto; */
    /* max-height: 60vh; */
    top: 15vh;
    margin: 0px;
    font-size: 12px;
    /* height: fit-content; */
    max-height: 60vh;
  }

  .tractor-table td {
    font-size: 12px;
    
  }
  
  
  .tractor-table {
    height: auto;
  }

  .scroll-bar {
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;
    min-height: auto; 
    height: auto;
  }

}