.formHelp {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  margin-top: 10vh;
  margin-left: 20vw;
  height: 80vh;
  width: 60vw;
  background-color: rgba(85, 86, 90, 1);
  border-radius: 30px;
  position: relative;
}
.textHelp {
 display: flex;
  justify-content: center;    /* Горизонтально */
  align-items: center;        /* Вертикально */
  height: 100%;  
  font-size:25px;
}