/* Кнопка загрузки */
.download {
  width: 268px;
  height: 60px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 1);
  border-color:transparent;
  margin: 4px;
}


.download:hover {
  background-color: #b6bbc1;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download:active {
  background-color: #707479;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Страница 3 прокртука для select */
.model {
  position: absolute;
  top: 512px;
  left:13px;
  width: 360px;
}

 /* styles={{ 
              control: (base) => ({ ...base, maxHeight: 200, overflowY: 'auto', color: 'black', 
                backgroundColor:'rgba(217, 217, 217, 1)', width:'360px', borderRadius: '15px', height:'53px'}),
              menuList: (base) => ({ ...base, maxHeight: 150, overflowY: 'auto', 
                backgroundColor:'white',color:'black', border: '1px solid rgba(217, 217, 217, 1)',scrollbarWidth:'thin'}),
            }} */
/* .modelSelect {
  position:relative;
}

.react-select__control {
   max-height: 200px;
   overflow-y: auto; 
   color: black; 
   background-Color:rgba(217, 217, 217, 1);
   width:360px;
   border-Radius: 15px;
   height:53px;
}

.react-select__menu-list {
  max-height: 200px;
  overflow-y: auto; 
  background-color:white;
  color:black;
  border: 1px solid rgba(217, 217, 217, 1);
  scrollbar-width:thin; */


 
.clear {
  position: absolute;
  top: 665px;
  left: 13px;
  width: 360px;
  height: 70px;
  color: black;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: none;
  border-radius: 25px;
  text-align: center;
  font-size: medium;
}

@media (max-width:767px) {
  .model {
  position: absolute;
  top: 502px;
  left:13px;
  width: 360px;
}



.clear {
  position: absolute;
  top: 665px;
  left: 13px;
  width: 360px;
  height: 70px;
  color: black;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: none;
  border-radius: 25px;
  text-align: center;
  font-size: medium;
}
}