/* Кнопка загрузки */
.download {
  width: 268px;
  height: 60px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 1);
  border-color:transparent;
  margin: 4px;
}


.download:hover {
  background-color: #b6bbc1;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download:active {
  background-color: #707479;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Страница 3 прокртука для select */
.model {
  position: absolute;
  top: 512px;
  left:13px;
  width: 360px;
}

.clear {
  position: absolute;
  top: 665px;
  left: 13px;
  width: 360px;
  height: 70px;
  color: black;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: none;
  border-radius: 25px;
  text-align: center;
  font-size: medium;
}

@media (max-width:767px) {
  .model {
  position: absolute;
  top: 502px;
  left:13px;
  width: 80%;
}

.clear {
  position: absolute;
  top: 80vh;
  left: 13px;
  width: 80%;
  height: 70px;
  color: black;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: none;
  border-radius: 25px;
  text-align: center;
  font-size: medium;
}

.download {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 1);
  border-color:transparent;
  margin: 4px;
}

}