.MainPart {
  width:70vw;
  height: 785px;
  background-color: rgba(217, 217, 217, 0.7);
  flex-shrink: 1; /* Запрещаем уменьшение */
  margin-left:-38px;
  border-radius: 30px;
  z-index: 1;
  position: relative;
}

.maininfo {
  /* Общий вид */
  box-sizing: border-box;
  width: 963px;
  height: 624px;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 50px 70px;


  position: absolute;
  left: 171px;
  top: 80px;
  right: 235px;
}


.object {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  margin: 24px;

  
}


.objectmenu {
  /* Внешний вид */
  width: 835px;
  height: 208px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
  display: flex;
  margin-left: 0;
}


.inform {
  gap: 0px;
}

.textunder {
  color: grey;
}

/* Кнопка */
/* .download {
  box-sizing: border-box;
  width: 89px;

  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
} */

button:hover {
  background-color: #b6bbc1;
  /* transform: translateY(-2px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #707479;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.back-button {

  background-color: #55565a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  position: absolute;
  top:60px;
}

.back-button:hover {
  background-color: #6b6c70;
}


.List {
  list-style-type: none;
  padding-left: 0;  
  overflow: auto;
  overflow-y: auto;
  max-height: 400px;
  overflow-x: hidden;
}

/* Стили для списка */
.list-scroll-bar {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.list-scroll-bar::-webkit-scrollbar {
  width: 10px; /* размер бегунка ес че */
}

.list-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}

.list-scroll-bar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* ← Цвет фона дорожки */
  border-radius: 10px;
}

@media (max-width:767px) {
  .MainPart {
 width:100vw;
height: 85vh;
margin-left:0px;
background-color: transparent;
}

.maininfo {
  /* Общий вид */
  box-sizing: border-box;
  width: 90%;
  height: 88%;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 10px 15px;
  position: absolute;
  left: 5vw;
  top: 70px;
  border: 1px solid blue;
}

.list-container {
  list-style-type: none;
  padding: 0;  
  height: 85%;
  border: 2px solid red;
  box-sizing: border-box;
}

.List {
  list-style-type: none;
  padding-left: 0;  
  overflow-y: auto;
  width: 100%; /* Занимаем всю ширину */
  height: 100%; /* Растягиваем на всю высоту контейнера */
  overflow-x: auto;
  border: 2px solid green;
  box-sizing: border-box;
  max-height: none;

}

/* Убираем отступы у заголовков в этом блоке */
.maininfo h3 {
  margin-top: 0;
  margin-bottom: 10px; /* Или нужное значение */
}

.maininfo h4 {
  margin-top: 0;
  margin-bottom: 0px;
}

.list-container ul {
  margin-block-end:0em;
  margin-block-start:0em;
}

.object {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  margin: 24px;

  
}

.objectmenu {
  /* Внешний вид */
  width: 500px;
  height: 208px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;
  display: flex;
  margin-left: 0;
}
}