main {
  padding-top: 160px;
  min-height: calc(100vh - 150px);/*Занимает всю высоту которая осталась*/
  width:100%;
  overflow-x: hidden; /* ← добавить */
  box-sizing: border-box; /* ← добавить */
}


.table {
  display: flex;
  margin-top: 0px;
  justify-content: center;
}