/* main {
  padding-top: 160px;
  min-height: calc(100vh - 150px);
  width:100%;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

.table {
  display: flex;
  margin-top: 0px;
  justify-content: center;
} */
 main {
  padding-top: 90px;
  min-height: 100vh;
  width:100%;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

@media (min-width:1200px) {
 main {
  padding-top: 160px;
  min-height:100vh;
  width:100%;
  overflow-x: hidden; 
  box-sizing: border-box; 
}
}
.table {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  height:auto;
  box-sizing: border-box;
} 
@media (min-width:1200px) {
.table {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  height:auto;
} 
}

.popup-window {
  background-color: rgb(255, 255, 255);
  max-width: 200px;
  display: block;
  overflow-wrap: break-word;
  border-radius: 4px;
  z-index: 2000;
  position: absolute;
  margin-top: 1px;
  margin-left: 300px;
  border: 1px solid #ddd;
  border-color: black;
  padding: 5px;
  color: grey;
}


.infodisc {
  position: relative;
}