/* src/cssfiles/KnowledgeBase.css */

.knowledge-base-container {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  display: flex;
  width: 90%;
  height: 75vh;
  margin-top: 20vh;
  margin-left: 7%;
  justify-content: center;
  border-radius: 20px;
  background: #55565A;
}

.close-button {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  position: absolute;
  width: 3%;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 4%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  background: #D9D9D9;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #55565A;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}



.close-button:hover {
  background: #c0c0c0;
}

.knowledge-base-title {
  color: white;
  font-size: 30px; 
  margin-top:2vh;
}

@media (min-width:1200px) and (max-width:1600px) {
  .knowledge-base-title {
    font-size: 25px;
  }
}