.MainPart {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  width:140vh;
  height: 80vh;
  background-color: rgba(217, 217, 217, 0.7);
  flex-shrink: 1; /* Запрещаем уменьшение */
  margin-left:-38px;
  border-radius: 30px;
  z-index: 1;
  position: relative;
}
