.po-details-container {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  box-sizing: border-box;
  width: 963px;
  height: 670px;
  background-color: rgb(219, 219, 219);
  border-radius: 30px;
  color: black;
  padding: 20px 70px;
  position: absolute;
  left: 171px;
  top: 80px;
  right: 235px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
}

.po-details-container::-webkit-scrollbar {
  width: 10px; 
}

.po-details-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}

.po-details-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* ← Цвет фона дорожки */
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.po-details-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: row;
  
}
.left-column {
  display: flex;
  
  width: 50%;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}
.left-column h2 {
  white-space: nowrap;       
  overflow: hidden;
  text-overflow: ellipsis;   
  max-width: 400px;
}

.left-column img {
 margin:0px;
}
.left-column .section {
  padding:0px;
  gap:1vh
}
.right-column {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.description {
  background-color: #b3b4b6;
  width:300px;
  height:300px;
  overflow-y: auto;
  border-radius: 10px;
  padding:10px;
   overflow-wrap: break-word;
}

.download-button {
    display: flex;
    text-align: center;
    background-color:  #b3b4b6;
    border-radius: 20px;
    height: 50px;
    margin-top: 0px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    align-items: center;
    justify-content: center;
    box-shadow: none!important;
  }
  
 
.section h3 {
  display:flex;
  justify-content: flex-start;
}

.prev-version {
  background-color: #b3b4b6;
  display: flex;
  justify-content: center;
  width:300px;
  height:120px;
  overflow-y: auto;
  border-radius: 10px;
  padding:15px ;
  text-overflow: ellipsis;   
}
.version {
  display: flex;
  align-items: center;
  background-color: #d9dbdf;
  border-radius: 10px;
  padding:10px;
  width:250px;
  height:30px;
}

.prev-version-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black; /* или другой */
}

.text-names {
  font-size: 18px;
  font-style: italic;
  /* color: rgba(0, 0, 0, 0.8); */
}

.object-po {
  box-sizing: border-box;
  width: 20vh;
  height: 20vh;
  margin: 10px;

}

.change-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  height: 9%;
}

.change-buttons{
  background-color: #b3b4b6;
  width: 32%;
}

.change-buttons:hover {
  background-color: #7c7c7c;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .bolvanchyk {
    position:absolute;
    width: 100%;
    max-height: 90%;
    top:2%;
    left: -9%;
  }

  .po-details-container{
    position: absolute;
    width: 120vh;
    
  }
}