.po-details-container {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  box-sizing: border-box;
  width: 1200px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: black;
  padding: 20px 70px;
  position: absolute;
  left: 111px;
  top: 130px;
  right: 235px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
  z-index: 9999;
}

.po-details-container::-webkit-scrollbar {
  width: 10px; 
}

.po-details-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}

.po-details-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* ← Цвет фона дорожки */
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.po-details-content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  flex-direction: row;
  
}
.left-column {
  display: flex;
  
  width: 50%;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}
.left-column h2 {
  white-space: nowrap;       
  overflow: hidden;
  text-overflow: ellipsis;   
  max-width: 400px;
}

.section h2 {
  font-size: 20px;
}

.actuallity{
  font-size: 14px;
  color: rgb(133, 134, 138);
  border:#E3E4E6 solid 2px ;
  border-radius: 10px;
}

.left-column img {
 margin:0px;
}
.left-column .section {
  padding:0px;
  gap:1vh
}
.right-column {
  display: flex;
  /* align-items: center; */
  width: 50%;
  flex-direction: column;
  
}

.right-column .section {
  padding:0px;
  gap:1vh
}


.section label::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 16px;
  background: #D71920;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  flex-shrink: 0;
}


.btnfrinstl{
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

.description {
  background-color: #ffffff;
  width:100%;
  height:15vh;
  overflow-y: auto;
  border-radius: 10px;
  border: #E3E4E6 solid 2px;
  padding:10px;
   overflow-wrap: break-word;
}

.download-button {
    display: flex;
    text-align: center;
    background-color:  #ffffff;
    border-radius: 20px;
    border: #E3E4E6 solid 2px;
    height: 70px;
    margin-top: 0px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 300;
    width: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: none!important;
  }
  
 
.section h3 {
  display:flex;
  justify-content: flex-start;
}

.section label {
  font-weight: bold;
  font-size: 18px;
  display: inline-flex;
  gap: 12px;
  
}

.prev-version {
  background-color: #fdfdff;
  display: flex;
  justify-content: center;
  width:300px;
  height:auto;
  overflow-y: auto;
  border-radius: 10px;
  border: #E3E4E6 solid 2px;
  padding:15px ;
  text-overflow: ellipsis;
  flex-Direction: column;
  gap: 1vh   
}
.version {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: #E3E4E6 solid 2px;
  padding:10px;
  width:250px;
  height:30px;
}

.prev-version-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black; /* или другой */
}

.text-names {
  font-size: 18px;
  font-style: italic;
  /* color: rgba(0, 0, 0, 0.8); */
}

.object-po {
  box-sizing: border-box;
  width: 20vh;
  height: 20vh;
  margin: 10px;

}

.change-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  height: 9%;
}

.change-buttons{
  background-color: #ffffff;
  border-radius: 20px;
  border: #E3E4E6 solid 2px;
  width: 32%;
  font-size: 18px;
}

.change-buttons:hover {
  background-color: #7c7c7c;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .bolvanchyk {
    position:absolute;
    width: 100%;
    max-height: 90%;
    top:2%;
    left: -9%;
  }

  .po-details-container{
    position: absolute;
    width: 120vh;
    height: 60vh;
  }
}